## CSYE7245 - Modern Music Genre Classification with large multi-class dataset
                                            Ashutosh Mahala, Xiaosui Zhang

In [38]:
import numpy as np
import pandas as pd
import theano
import theano.tensor as T
import keras
import urllib.request
import zipfile
import os.path

import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# -- Keras Import
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.preprocessing import image

from keras.datasets import imdb
from keras.datasets import mnist

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D

from keras.utils import np_utils
from keras.preprocessing import sequence
from keras.layers.embeddings import Embedding
from keras.layers.recurrent import LSTM, GRU, SimpleRNN

from keras.layers import Activation, TimeDistributed, RepeatVector
from keras.callbacks import EarlyStopping, ModelCheckpoint

from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.cross_validation import KFold, cross_val_score, train_test_split

In [2]:
# Global variables
url_loc = 'https://os.unil.cloud.switch.ch/fma/fma_metadata.zip'
file_loc = 'C:/work/csye7245/Assignment4/fma_metadata.zip'
dir_unzip_loc = 'C:/work/csye7245/Assignment4/'

# Number of songs used in model
data_length = 10000

In [9]:
# Global variables
url_loc = 'https://os.unil.cloud.switch.ch/fma/fma_metadata.zip'
file_loc = 'C:/work/csye7245/Assignment4/fma_metadata.zip'
dir_unzip_loc = 'C:/work/csye7245/Assignment4/'

data_length = 3000

## 1. Data Preparation
## 1.1 Download and Extraction

[Raw FMA](http://freemusicarchive.org/) - Original Free Music Archive dataset 

[EPFL LTS2](https://github.com/mdeff/fma) - Preprocessed FMA dataset by LTS2 lab.

In [44]:
# Download zipped fma meta data
if not os.path.isfile(file_loc):
    urllib.request.urlretrieve(url_loc, file_loc)

In [45]:
# Unzip fma meta data
if not os.path.isdir(dir_unzip_loc):
    with zipfile.ZipFile(file_loc, 'r') as zip_ref:
        zip_ref.extractall(dir_unzip_loc)

## 1.2 Download and Extraction

In [10]:
df_tracks = pd.read_csv(dir_unzip_loc + "fma_metadata/tracks.csv", skiprows=1, nrows=data_length);
df_features = pd.read_csv(dir_unzip_loc + "fma_metadata/features.csv", skiprows=1, nrows=data_length);
df_genres = pd.read_csv(dir_unzip_loc + "fma_metadata/genres.csv", skiprows=0, nrows=data_length);

df_tracks = df_tracks.rename(columns={ df_tracks.columns[0]: "track_id" })
df_features = df_features.rename(columns={ df_features.columns[0]: "track_id" })
1

C:\Users\maxch_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1

In [11]:
df_tracks.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information.1,interest,language_code,license,listens.1,lyricist,number,publisher,tags.2,title.1
0,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,...,NaN,4656.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293.0,NaN,3.0,NaN,[],Food
2,3,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,...,NaN,1470.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514.0,NaN,4.0,NaN,[],Electric Ave
3,5,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,...,NaN,1933.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151.0,NaN,6.0,NaN,[],This World
4,10,0.0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4.0,6.0,NaN,47632.0,NaN,...,NaN,54881.0,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135.0,NaN,1.0,NaN,[],Freeway

In [12]:
df_features.head()

,track_id,kurtosis,kurtosis.1,kurtosis.2,kurtosis.3,kurtosis.4,kurtosis.5,kurtosis.6,kurtosis.7,kurtosis.8,...,std.70,std.71,std.72,kurtosis.73,max.73,mean.73,median.73,min.73,skew.73,std.73
0,number,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,4.000000,5.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,0.866868,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.0,2.089872,0.061448
3,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,0.108103,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.0,1.716724,0.069330
4,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,0.666617,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.0,2.193303,0.044861

In [13]:
df_genres.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5

### Explanation

1. Track.csv holds the metadata of songs including author, language, title and also the label.
2. Features.csv holds the extracted acoustic features from the audio of the song.
3. Genres.csv holds the target variable genre statistics

We can relate rows from different table using track number.

### Merge Tables

In [14]:
# Get only the genre and track_id from df_tracks_only_genre

df_tracks_only_genre = df_tracks[['genre_top','track_id']]
df_tracks_only_genre_with_id = pd.merge(df_tracks_only_genre, df_genres, left_on="genre_top", right_on="title", how='left')
df_tracks_only_genre_with_id = df_tracks_only_genre_with_id[['genre_id','track_id']]
df_tracks_only_genre_with_id.head()

   genre_id  track_id
0       NaN  track_id
1      21.0         2
2      21.0         3
3      21.0         5
4      10.0        10

In [15]:
# Merge
df = pd.merge(df_tracks_only_genre_with_id, df_features, on="track_id", how='inner')
df.head()

,genre_id,track_id,kurtosis,kurtosis.1,kurtosis.2,kurtosis.3,kurtosis.4,kurtosis.5,kurtosis.6,kurtosis.7,...,std.70,std.71,std.72,kurtosis.73,max.73,mean.73,median.73,min.73,skew.73,std.73
0,NaN,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21.0,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.0,2.089872,0.061448
2,21.0,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.0,1.716724,0.069330
3,21.0,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.0,2.193303,0.044861
4,10.0,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.0,3.542325,0.040800

### Prepare the train and test data with 10-fold cross validation

In [34]:
df = df[1:][np.isfinite(df['genre_id'])]
df["genre_id"]=pd.to_numeric(df["genre_id"], downcast='integer')

train, test = train_test_split(df, test_size=0.1)

X_train = train.iloc[:, range(2,df.shape[1])].values
Y_train = train.iloc[:, [0]].values

X_test = test.iloc[:, range(2,df.shape[1])].values
Y_test = test.iloc[:, [0]].values
1

C:\Users\maxch_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1

## 3. Methods

## 3.1 Random Forest

In [36]:
# Build the model
rf = RandomForestClassifier(random_state = 42,
                            criterion='gini',
                            n_estimators = 500,
                            max_features = 5)

m = rf.fit(X_train, Y_train)

Y_pred = sm.predict(X_test)
print("The overall accuracy with random forest is %s", metrics.accuracy_score(Y_test, Y_pred))

C:\Users\maxch_000\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

The overall accuracy with random forest is %s 0.9894736842105263

In [29]:
# Reshape the data for RNN
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

Y_train = np_utils.to_categorical(Y_train, 40)
Y_train = np.reshape(Y_train, (Y_train.shape[0], 1, Y_train.shape[1]))
Y_test = np_utils.to_categorical(Y_test, 40)
Y_test = np.reshape(Y_test, (Y_test.shape[0], 1, Y_test.shape[1]))

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(850, 1, 518)
(95, 1, 518)
(850, 1, 40)
(95, 1, 40)